<p-card class="container">
    <!-- steps  -->
    <p-steps [model]="steps" [activeIndex]="activeIndex"></p-steps>
    <!-- content  -->
    <section class="content" [ngSwitch]="activeIndex">
        <!-- step 1: image -->
        <app-image-uploader *ngSwitchCase="0"></app-image-uploader>
        <!-- step 2: info form -->
        <app-info-form *ngSwitchCase="1"></app-info-form>
        <!-- step 3: table -->
        <app-persons-table *ngSwitchCase="2"></app-persons-table>
        <!-- step 4: review -->
        <app-review *ngSwitchCase="3"></app-review>
    </section>
    <!-- button group  -->
</p-card>